*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100px;
    height: 100px;
}
/*Estilos de la Nav*/
ul a{
    display: flex;
    display: inline;
    text-decoration: none;
    color: black;
    text-align: right;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
    
    
}
h1 p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
div h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}
.facturas1{
    border-radius: 10px;
    width: 300px;
    height: 260px;
    grid-area: "imagen";
    position: relative;
    top: -50px;
}
.parrafo1{
    text-align: left;
    grid-area: "texto";
    font-family: 'Times New Roman', Times, serif;
}
.iframe{
    width: 480px;
    height: 300px;
}
span{
    display: flex;
    text-align: center;

}
.pan2{
    border-radius: 10px;
    width: 480px;
    height: 300px;
    position: relative;
    left: -25px;
    top: -50px;
}
.div-titulo3{
    display: flex;
}
div h3{
    text-align: justify;
    
}
.section1{
    position: relative;
    display: flex;

}
.p1{
    text-align: center;
}
footer iframe{
    border-radius: 10px;
    width: 400px;
    height: 250px;
}
footer p{
    display: inline;
    padding: 200px;
    position: relative;
    bottom: -100px;
    left: -60px;
}
.pr{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
main img{
    width: 200px;
    height:180px ;
    margin: 9%;
    border-radius: 10px;
}
body{
    background-image: url(https://i.pinimg.com/564x/82/e2/a9/82e2a977911c078fd75a65db29a281d2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div3{
    text-align: left;
    position: relative;
    top: -270px;
}
.titulo1{
    text-align: left;
    grid-area: 1/1/2/3;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding-top: 20px;
    position: relative;
    right: -220px;
}
.parrafo2{
    font-family: 'Times New Roman', Times, serif;
    grid-area: "texto";
}
.parrafo3{
    grid-area:"texto";
    font-family: 'Times New Roman', Times, serif;
}
.contacto{
    text-align: center;
    margin-top: 50px;
}
.iframe1{
    position: relative;
    right: -320px;
    border-radius: 10px;
}
.div5{
    position: relative;
    right: -600px;
    top: -505px;
    left: 925px;
}
.iframe1{
    position: relative;
    top: -505px;
    right: -920px;
}
.iframe2{
    position: relative;
    right: -1115px;

}
.div6{
    position: relative;
    top: -300px;
}
.pan3{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    grid-area:"imagen";
    padding: 20px;
    object-fit: cover;
}
.parrafo4{
    padding: 20px;
    overflow: hidden;
    grid-area: "texto";
}
.iframe3{
    position: relative;
    top: 0%;
    right: -1000px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.div8{
    position: relative;
    top: -450px;

}
footer iframe{
    max-width: 500px;
}
div iframe{
    border-radius: 10px;
    max-width: 500px;
}
.span2{
    display: flex;
}
.div-contenido{
 display: flex;  
}
.div-titulo2{
    display:flex ;
}
.ul{
    list-style: none;
    display: flex;
    margin-left: 0px;

}
.container-titulo{
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "texto imagen";
    grid-gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.div-contenido{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "texto imagen";
}
.grid-container-titulo{
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "texto imagen";
}
.grid-container-contenido{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "texto imagen";
    position: relative;
}
.titulo{
    grid-area: "titulo";
    font-family: 'Times New Roman', Times, serif;
}
.Titulo-Principal{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
}
.segundo-titulo{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "texto imagen";
    grid-area: "titulo";
    font-family: 'Times New Roman', Times, serif;
}
.contenido-2{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "texto iframe"
}
.iframe-tutorial{
    grid-area: "iframe";
    padding-right: 40px;
}
.titulo-tercero{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "titulo titulo"
    "texto imagen";
    font-family: 'Times New Roman', Times, serif;
}
.contenido-3{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "texto imagen";
}

.redes-sociales{
    grid-area: "redes";
}
.ir-contacto{
    grid-area: "contactos";
    text-decoration: none;
}
.iframe-maps{
    grid-area: "Iframe";
    position: relative;
    right: -300px;
    top: -50px;
}
.carousel-inner{
    width: 100%;
    height: auto;
}
.container-carrusel{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif
}
.texto-carrusel{
    grid-row: 1;
}
.carrusel-productos{
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
}
.budin{
    width: 300px;
    height: 350px;
}
.pan3-carrusel{
    width: 300px;
    height: 350px;
}
.torta-carrusel{
    width: 300px;
    height: 350px;
}
.container-productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: -50px;
}
.factura2-carrusel{
    width: 300px;
    height: 350px;
}
.brownie-carrusel{
    width: 300px;
    height: 350px;
}
.dona-carrusel{
    width: 300px;
    height: 350px;
}
.texto-carrusel1{
    grid-row: 1;
    text-align: center;
}
.carrusel-productos{
    width: 300px;
    height: 350px;
}
.h2-locales{
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
}
.container-inicio{
    padding-left: 30px;
    padding-right: 50px;
}
.container-inicio-2{
    padding-left: 30px;
    padding-right: 50px;
    border-radius: 10px;
}
.container-inicio-3{
    padding: 50px 30px 50px;
}
.container-footer-index{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "redes iframe"
    "iframe iframe";
    grid-gap: 20px;
}
.lista-footer, .lista-footer-productos, .lista-footer-locales, .lista-footer-sobrens{
    list-style: none;
    display: flex;
    position: relative;
    bottom: -50px;
    grid-area: "Redes";
}
.container-footer-productos, .container.footer-sobrens{
    display: grid;
    grid-template-columns:0,5fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Iframe Redes";
}
.iframe-maps-productos{
    grid-area: "Iframe";
    position: relative;
    bottom: -20px;
    right: -200px;
}
.container-footer-locales{
    display: grid;
    grid-template-columns: auto 0,5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "Redes Iframe";
}
.locales-container-1, .locales-container-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    align-items:center;
}
.iframe-Ramos, .iframe-eureka{
    grid-area:2/1;
    border-radius: 10px;
    padding-left: 30px;
}
.parrafo2-locales, .parrafo3-locales{
    grid-area: 2/2;
}
.iframe-maps-locales{
    position: relative;
    right: -150px;
}
.iframe-maps-sobrens{
    grid-area: "Iframe";
    position: relative;
    right: -1100px;
    top: -50px;
}
.pan3-sobrens{
grid-area: "imagen";
border-radius: 30px;
padding-right: 30px;
}
/*Media Query*/
@media screen and (max-width: 576px) {
    .container-titulo {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "titulo"
        "texto"
        "imagen";
    }
  
    .div-contenido {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .facturas1 {
      max-width: 100%;
      height: auto;
    }
  
    .parrafo {
      text-align: justify;
    }
  }
  @media screen and (max-width: 576px) {
    .container-inicio-2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .contenido-2 {
      grid-template-columns: 1fr;
      }
  
    .iframe-tutorial {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .parrafo1 {
      text-align: justify;
      grid-area: "texto";
      font-family: 'Times New Roman', Times, serif;
      margin: 0;
    }
  
    .div-titulo2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .ul {
      display: flex;
      justify-content: center;
      margin: 0;
  }
  }
  @media screen and (max-width: 576px) {
    .container-inicio-3 .pan2 {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
      position: relative;
    }
  
    .container-inicio-3 .parrafo3 {
      padding: 20px;
      overflow: hidden;
      grid-area: "texto";
    }
  
    .container-inicio-3 .titulo-tercero {
      display: flex;
      grid-template-columns: auto 1fr;
      grid-template-areas: "titulo titulo" "texto imagen";
      font-family: 'Times New Roman', Times, serif;
    }
  }
  @media screen and (max-width: 576px) {
    .container-footer-index {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .lista-footer {
      max-width: 250px;
      margin: 10px auto;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      top: -200px;
      z-index: 1;
    }
  
    .iframe-maps {
      width: 100%;
      height: 200px;
      position: relative;
      right: 0;
      top: 0;
      bottom: 0;
      margin-bottom: 20px;
      z-index: 0;
    }
  
    footer p {
      display: block;
      padding: 10px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 10px;
    }
  }